services:
  twingate:
    image: twingate/connector:1
    container_name: ${CONTAINER_NAME:-twingate-diligent-binturong}
    network_mode: host
    restart: unless-stopped
    environment:
      - TWINGATE_NETWORK=${TWINGATE_NETWORK}
      - TWINGATE_ACCESS_TOKEN=${TWINGATE_ACCESS_TOKEN}
      - TWINGATE_REFRESH_TOKEN=${TWINGATE_REFRESH_TOKEN}
      - TWINGATE_DNS=${TWINGATE_DNS:-}
      - TWINGATE_LABEL_HOSTNAME=${TWINGATE_LABEL_HOSTNAME:-$(hostname)}
      - TWINGATE_LOG_ANALYTICS=${TWINGATE_LOG_ANALYTICS:-v2}
      - TWINGATE_LABEL_DEPLOYED_BY=${TWINGATE_LABEL_DEPLOYED_BY:-docker}

networks:
  default:
    name: twingate
    driver: host